
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #F8F0E5; 
}


.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #DAC0A3;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.form-header {
    text-align: center;
    font-size: 24px;
    color: #102C57;
    margin-bottom: 20px;
}


.form-label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}


.form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.form-button {
    padding: 10px 20px;
    background-color: #102C57; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #F8F0E5; 
}

.form-reset-button {
    padding: 10px 20px;
    background-color: #102C57;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.form-reset-button:hover {
    background-color: #F8F0E5; 
}
