
body {
  font-family: Arial, sans-serif;
  background-color: #F8F0E5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #102C57;
  margin-bottom: 20px;
}


a {
  text-decoration: none;
  color: #102C57;
  background-color: #EADBC8;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}


a:hover {
  background-color: #DAC0A3;
  color: #102C57;
}
